*.local
*.identcache
*.stat
/Capitulo1/1.Base/Win32/Debug
Debug
__history
/Capitulo3/Exemplo4/Win32/Release/*.exe
/Capitulo3/Exemplo4/Win32/Release/*.dcu
/Capitulo3/Android.4.MultiView/Android/Release/*.dcu
/Capitulo3/Android.4.MultiView/Android/Release/*.o
/Capitulo3/Android.4.MultiView/Android/Release
/Capitulo3/Android.5.ListViewWS/Android/Release
/Capitulo3/Android.5.ListViewWS/Win32/Release/*.dcu
/Capitulo3/Android.5.ListViewWS/Win32/Release/*.exe
/Capitulo4/Essentials.1/Win32/Release
/Capitulo3/9.Finais/ModelSupport_ExemplosFinais/Classe
/Capitulo3/9.Finais/ModelSupport_ExemplosFinais
/Capitulo3/6.Debug/DebugRemoto.Berlin.dres
/Capitulo3/9.Finais/out/doc/Classe/Serealizador
/Capitulo3/DS_Atualizador/css
*.dcu
/Capitulo4/Essentials.4/Docs/out/doc/Classe
/Capitulo4/Essentials.4/Docs/out/doc
/Capitulo4/Essentials.4/ModelSupport_CadastroPessoa
/Capitulo3/1.DS.Exemplo2/Server/IIS/js
/Capitulo3/6.Debug/DebugRemoto.dres
/Capitulo3/9.Finais/ExemplosFinais_project.tvsconfig
/Capitulo3/9.Finais/ModelSupport_Project1/default.txaPackage
/Capitulo3/9.Finais/Project1_project.tvsconfig
/Capitulo3/9.Finais/out/doc/Classe
/Capitulo3/9.Finais/out/doc
/Capitulo3/Exemplo1/Importador_project.tvsconfig
/Capitulo3/Exemplo1/ModelSupport_Importador/default.txaPackage
/Capitulo3/DS_Atualizador/js
/Capitulo3/DS_Atualizador/images
/Capitulo3/DS_Atualizador/templates
/Capitulo4/Essentials.5/Win32/Release/*.exe
/Capitulo4/Essentials.4/CadastroPessoa_project.tvsconfig
autoCommit.exe
/Capitulo4/6.1.Forms/autoCommit.exe
/Capitulo4/6.2.RestAndImages/autoCommit.exe
/Capitulo5/ipv6/paserver.passfile
*.dsk
/Capitulo7/1.3.Objeto/Win32/Release/*.exe
/Capitulo7/1.3.Objeto/*.~dsk
/Capitulo7/1.3.Objeto/ModelSupport_CadastroComObjeto/*.txaPackage
*.~dsk
/Capitulo7/2.13.Debug/ResourceDebug.dres
/Capitulo7/2.13.Debug/RemoteDebug.dres
/Capitulo8/1.1.Start
/Capitulo8/2.1.OO/Win32/Release
/Capitulo9/2.4.RemoteDebug/RemoteDebugRio.dres
/Capitulo9/1.1.Start/Win32/Release/CotacaoDOS.exe
/Capitulo9/1.1.Start/Win32/Release/CotacaoVCL.exe
/Capitulo9/1.1.Start/Win64/Release/CotacaoVCL.exe
/News/10.4/MultiStyles.res
/News/10.4/Form.Multi.Styles.dfm
/News/10.4/Form.Multi.Styles.pas
/News/10.4/MultiStyles.dpr
/News/10.4/MultiStyles.dproj
